Using the instructions/assignment.pdf as your instructions, implement a React + Typescript + MUI analytics website for the data described in data/accel.txt. The actual data is in the /data directory as .tab files. We will be making an analytics site for the entry data on the Galileo probe entering Jupiters atmosphere. Since this website is a UI case study, it should be aesthetically pleasing and functional.